<h1 class="display-4" style="text-align: center;">Sistema administrativo de empresas constructoras</h1>
<div class="container">
	<div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
	  <div class="p-2 bd-highlight"><a href="/maquina/lista" class="btn btn-primary">Lista Maquinas</a></div>
	  <div class="p-2 bd-highlight"><a href="/maquina/add" class="btn btn-secondary">Nueva Maquina</a></div>
	</div>
	<div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
	  <div class="p-2 bd-highlight"><a href="/obra/lista" class="btn btn-primary">Lista Obras</a></div>
	  <div class="p-2 bd-highlight"><a href="/obra/add" class="btn btn-secondary">Nueva Obra</a></div>
	</div>
	<div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
	  <div class="p-2 bd-highlight"><a href="/pieza/lista" class="btn btn-primary">Lista Repuestos</a></div>
	  <div class="p-2 bd-highlight"><a href="/pieza/add" class="btn btn-secondary">Nuevo Repuesto</a></div>
	</div>
</div>

