<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="/obra/lista">Obras</a></li>
	<li class="breadcrumb-item active">Nueva</li>
</ol>
<h1 class="display-4">Nueva Obra</h1>
<form method="post" action="/obra/create">
  <div class="form-group">
    <label for="codigo"><h5>Codigo</h5></label>
    <input type="string" name="codigo" class="form-control">
  </div>
  <div class="form-group">
      <label for="nombre"><h5>Nombre</h5></label>
      <input type="string" name="nombre" class="form-control">
    </div>
   <div class="form-group">
	    <label for="provincia"><h5>Provincia</h5></label>
	    <input type="string" name="provincia" class="form-control">
  	</div>
  	<div class="form-group">
  		<label for="localidad"><h5>Localidad</h5></label>
  		<input type="string" name="localidad" class="form-control">
  	</div>
  	<div class="form-group">
  		<label for="fechaInicio"><h5>Fecha de Inicio</h5></label>
  		<input type="string" name="fechaInicio" class="form-control">
  	</div>
    <div class="form-group">
      <label for="fechaFin"><h5>Fecha de Finalizacion</h5></label>
      <input type="string" name="fechaFin" class="form-control">
    </div>
  	<div class="form-group">
  		<label for="observaciones"><h5>Observaciones</h5></label>
  		<textarea type="string" name="observaciones" class="form-control"></textarea>
  	</div>
	<input type="submit" value="Guardar" class="btn btn-primary">
</form>